*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --Orange: hsla(35, 100%, 50%, 0.967);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(218, 12%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: min(90%, 1140px);
  margin: auto;
  padding: 1.5rem 0.5rem;
}
.container,
.nav-links,
.menu,
.logo-ctn,
.cart-ctn {
  display: flex;
  gap: 1.75rem;
  align-items: center;
}
.nav-link {
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  color: #868686;
}
.nav-logo{ 
  color:hsla(35, 93%, 48%, 0.73) ;
}
.cart-ctn {
  margin-left: auto;
  position: relative;
  margin-right: 0.5rem;
}

.cart-modal__title-ctn {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--Grayish-blue);
}

@media screen and (min-width: 800px) {
  .container {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--Grayish-blue);
  }
  .menu {
    display: none;
  }
  #nav-close-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.5rem;
    color: #8c8989;
    position: relative;
    padding: 0;
    z-index: 50;
    width: auto;
    flex-direction: row;
    transform: translateX(0%);
  }
  .user-pf-ctn {
    width: 3rem;
  }
}

main {
  max-width: 500px;
  margin: 0 auto;
}

.slideshow-container__mobile {
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

.mySlides,
.mySlides__desktop {
  display: none;
}

.mySlides img,
.mySlides__desktop img {
  max-width: 100%;
}


.main-pdt-ctn img {
  border-radius: 10px;
}

.pdt-images-ctn {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.pdt-images-ctn img {
  opacity: 1;
  border-radius: 10px;
  transition: opacity 300ms;
}

.pdt-images-ctn .pdt-image-ctn {
  border-radius: 10px;
}

.pdt-images-ctn .active-img-ctn {
  outline: 3px solid var(--Orange);
}

.pdt-images-ctn .active-img-ctn img {
  opacity: 0.4;
}

.pdt-images-ctn img:hover {
  opacity: 0.4;
}

.pdt-showcase-ctn__desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  main {
    margin: 5rem auto;
    width: 90%;
    display: grid;
    gap: 5rem;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
    max-width: 1050px;
  }
  .pdt-showcase-ctn__desktop {
    display: block;
  }
  .slideshow-container__mobile {
    display: none;
  }
  .pdt-showcase-ctn .main-product-img {
    border-radius: 10px;
  }
}


.pdt-content-ctn {
  padding: 1.75rem;
  font-family: inherit;
}

.company-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--Orange);
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.pdt-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: var(--Very-dark-blue);
}
.pdt-desc {
  line-height: 1.6;
  color: var(--Dark-grayish-blue);
}

.pricing-ctn {
  margin: 1.75rem 0 1.25rem;
}
.pricing-ctn,
.pricing-ctn div:first-child,
.pricing-ctn span.discount,
.pdt-quantity-ctn,
.pdt-quantity-ctn span.minus-icon,
.pdt-quantity-ctn span.plus-icon,
.cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing-ctn span.final-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Very-dark-blue);
}

.pricing-ctn span.discount {
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: bold;
  color: var(--Orange);
  padding: 0rem 0.25rem;
  background: var(--Pale-orange);
}

.pricing-ctn span.actual-price {
  color: var(--Grayish-blue);
  font-weight: normal;
  text-decoration: line-through;
  position: relative;
  top: 1.7em;
  right: 27.4em;
}

.cart-section {
  flex-direction: column;
}

@media screen and (min-width: 975px) {
  .cart-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
  .company-name {
    margin-bottom: 1.25rem;
  }
  .pdt-content-ctn .pdt-title {
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }
.pdt-quantity-ctn {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: var(--Light-grayish-blue);
}
.pdt-quantity-ctn span.minus-icon,
.pdt-quantity-ctn span.plus-icon {
  opacity: 1;
  transition: opacity 300ms;
}

.pdt-quantity-ctn span.minus-icon:hover,
.pdt-quantity-ctn span.plus-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pdt-quantity-ctn span.pdt-quantity {
  font-weight: bold;
}

.addToCart-btn-ctn {
  width: 100%;
}

#addToCart-btn {
  width: 100%;
  border: none;
  padding: 1rem 0;
  color: var(--White);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  opacity: 1;
  background: var(--Orange);
  transition: opacity 300ms;
  box-shadow: 0px 20px 30px var(--Pale-orange);
}

#addToCart-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#addToCart-btn,
.cart-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
}

.pdt-showcase-modal__desktop {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  padding: 2rem 2.1rem 0;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  display: none;
}

.main-pdt-slideshow__modal {
  border-radius: 15px;
  background-color: var(--White);
}

.pdt-img__modal {
  border-radius: 15px;
}

.pdt-images-ctn__modal {
  width: 80%;
  margin: 1.5rem auto;
}

.pdt-images-ctn__modal .pdt-image-ctn {
  background-color: var(--White);
}
.active-pdt-img__modal {
  outline: 3px solid var(--Orange);
}  }